
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
        <h1 class="pt-4">New Registration Form</h1>
      </div>

      <!-- <div class="alert alert-danger" role="alert" *ngIf="error">
        Email ID or Password is not valid
      </div> -->
  
      <!-- Login Form -->
      <form action="javascript:void(0);" [formGroup]="userForm">
        <input type="text" class="fadeIn second " placeholder="Email Id" formControlName="username">
        <input type="password" class="fadeIn third" placeholder="Password" formControlName="password">
        <button *ngIf="!loginLoader" (click)="Authenticate()" class="fadeIn fourth submit">Log In</button>
        <button *ngIf="loginLoader" class="fadeIn fourth submit">
          <mat-icon color="warn">refresh</mat-icon>
        </button>
      </form>
      <!-- <div *ngIf="Error" class="alert alert-danger mx-4" role="alert">
        {{Error}}
      </div> -->
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/forgot">Forgot Password?</a>
      </div>
  
    </div>
  </div>